name: CI SyncFlow (Angular)

# Quando isso vai rodar?
on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build-and-check:
    runs-on: ubuntu-latest

    steps:
    # 1. Baixa o código do repositório
    - name: Checkout do código
      uses: actions/checkout@v4

    # 2. Prepara o Node.js (Ambiente)
    - name: Setup Node.js
      uses: actions/setup-node@v4
      with:
        node-version: '20'
        cache: 'npm'

    # 3. Instala dependências (npm ci é mais rápido e seguro que npm install para CI)
    - name: Instalar Dependências
      run: npm ci

    # 4. Verifica se o código compila (Build de Produção)
    # Isso pega erros de TypeScript que o VS Code as vezes deixa passar
    - name: Verificar Build (Produção)
      run: npm run build -- --configuration production
      
    # DICA DE SENIOR:
    # Futuramente adicionaremos 'npm run test' aqui. 
    # Por enquanto, garantimos apenas que o app não está quebrado (Buildavel).